<div class="row">
  <div class="col-3 text-center">
    <div class="bg-success p-3" *ngIf="showDirective" style="font-style: oblique; color: aliceblue;">
      NgIf Directive Example
    </div>
  </div>
  <div class="col-3">
    <div class="bg-primary p-3" *ngIf="number1 === number2" style="font-family: 'Times New Roman'; font-style: oblique; color: whitesmoke;">
      Ng Directive Second Example
    </div>
  </div>
</div>

<div class="row pt-2">
  <div class="col-3 text-center"><br>
    <button class="btn btn-danger" (click)="HideDirective()">Hide</button>
    <button class="btn btn-success mx-3" (click)="ShowDirectiveMsg()">Show</button>
  </div>
  <div class="col-3">
    <input type="text" [(ngModel)] = "number1" placeholder="Enter a number">
    <input type="text" [(ngModel)] = "number2" placeholder="Enter another number">
  </div>
</div>