<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow p-4" style="max-width: 600px; border-radius: 1rem;">
    <div class="text-center">
      <img src="https://media.licdn.com/dms/image/v2/D5603AQHKoxm-8fkAsQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1673194702369?e=1755129600&v=beta&t=GOoYHA6gifl3hbrSbJfI7GcjCry-QFU-AJvLkbzKKQw" alt="Chinni K Logo" width="100">
      <h2 class="text-primary">Siva Krishna Reddy</h2>
      <h5 class="text-muted">.NET Core Full-Stack Developer</h5>
    </div>
    <hr />
    <p class="mt-3">
      🚀 Passionate developer skilled in <strong>.NET Core</strong>, <strong>Angular</strong>, and <strong>SQL</strong>, building scalable and maintainable solutions.
    </p>
    <p>
      🧠 Strong believer in <strong>SOLID principles</strong>, <strong>System Design</strong> and clean architecture. Focused on writing testable, decoupled code and contributing to high-performance backend systems.
    </p>
    <p>
      🌱 Continuously learning — from <strong>C# and ASP.NET Core</strong>, <strong>Angular new features</strong> to <strong>Deployment</strong> & <strong>AWS integrations</strong> — to be a complete full-stack engineer.
    </p>
    <div class="mt-4 text-center">
      <button class="btn btn-outline-primary" (click)="openLinkedIn()">Contact Me</button>
    </div>
  </div>
</div>
