<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav me-auto">

      <!-- Directives Dropdown -->
      <li class="nav-item dropdown" style="margin-top:-12px;">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Directives
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="ng-class">Ng-Class</a></li>
          <li><a class="dropdown-item" routerLink="ng-for">Ng-For</a></li>
          <li><a class="dropdown-item" routerLink="control-flow">Control-Flow</a></li>
          <li><a class="dropdown-item" routerLink="data-binding">Data-Binding</a></li>
          <li><a class="dropdown-item" routerLink="ng-class">ngClass</a></li>
        </ul>
      </li>

      <!-- Signals Dropdown -->
      <li class="nav-item dropdown" style="margin-top:-12px;">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Signals
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="linked-signal">Linked-Signal</a></li>
        </ul>
      </li>

      <!-- Forms Dropdown -->
      <li class="nav-item dropdown" style="margin-top:-12px;">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Forms
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="template-driven-form">Template Driven Form</a></li>
          <li><a class="dropdown-item" routerLink="reactive-form">Reactive Form</a></li>
        </ul>
      </li>
        <!-- Types of Users Dropdown -->
        <li class="nav-item dropdown" style="margin-top:-12px;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Types of Users
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="admin">Admin-User</a></li>
            <li><a class="dropdown-item" routerLink="user">Normal-User</a></li>
          </ul>
        </li>

    </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
</nav>
<router-outlet></router-outlet>
