<div class="row">
  <div class="col-3">
    <ul>
      <li *ngFor="let city of cityList">
        {{city}}
      </li>
    </ul>
  </div>
  <div class="col-3">
    NgFor Example for employee Object
    <select name="" id="">
      <option *ngFor="let emp of employeeArray" [value]="emp.empId">
        {{emp.empName}} - {{emp.city}}
      </option>
    </select>
  </div>
  <div class="col-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>City</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeArray">
          <td>{{employee.empId}}</td>
          <td>{{employee.empName}}</td>
          <td>{{employee.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>